*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.m-auto {
  margin: auto;
}

.mx-\[60px\] {
  margin-left: 60px;
  margin-right: 60px;
}

.my-\[180px\] {
  margin-top: 180px;
  margin-bottom: 180px;
}

.my-\[32px\] {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-\[80px\] {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mb-\[18px\] {
  margin-bottom: 18px;
}

.mb-\[36px\] {
  margin-bottom: 36px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-6 {
  height: 1.5rem;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[406px\] {
  height: 406px;
}

.h-\[526px\] {
  height: 526px;
}

.h-\[64px\] {
  height: 64px;
}

.h-full {
  height: 100%;
}

.w-6 {
  width: 1.5rem;
}

.w-\[118px\] {
  width: 118px;
}

.w-\[232px\] {
  width: 232px;
}

.w-\[264px\] {
  width: 264px;
}

.w-\[360px\] {
  width: 360px;
}

.w-\[464px\] {
  width: 464px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.max-w-\[544px\] {
  max-width: 544px;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-items-center {
  place-items: center;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[60px\] {
  gap: 60px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[32px\] {
  border-radius: 32px;
}

.border-2 {
  border-width: 2px;
}

.border-\[--main-light\] {
  border-color: var(--main-light);
}

.bg-\[--main-dark\] {
  background-color: var(--main-dark);
}

.bg-\[--main-light\] {
  background-color: var(--main-light);
}

.p-\[20px\] {
  padding: 20px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pb-\[154px\] {
  padding-bottom: 154px;
}

.pb-\[20px\] {
  padding-bottom: 20px;
}

.pt-\[16px\] {
  padding-top: 16px;
}

.pt-\[24px\] {
  padding-top: 24px;
}

.text-center {
  text-align: center;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[54px\] {
  font-size: 54px;
}

.font-\[600\] {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[100\%\] {
  line-height: 100%;
}

.leading-\[110\%\] {
  line-height: 110%;
}

.leading-\[130\%\] {
  line-height: 130%;
}

.text-\[--gray-light-1\] {
  color: var(--gray-light-1);
}

.text-\[--gray-light-2\] {
  color: var(--gray-light-2);
}

.text-\[--main-dark\] {
  color: var(--main-dark);
}

.text-\[--main-light\] {
  color: var(--main-light);
}

.backdrop-blur-\[12px\] {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

@font-face {
  font-family: 'Poppins-Regular';

  src:
		url('assets/fonts/Poppins-Regular.ttf') format('truetype'),
		url('assets/fonts/Poppins-Regular.woff2') format('woff2');

  font-weight: 400;

  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';

  src:
		url('assets/fonts/Poppins-Medium.ttf') format('truetype'),
		url('assets/fonts/Poppins-Medium.woff2') format('woff2');

  font-weight: 500;

  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';

  src:
		url('assets/fonts/Poppins-SemiBold.ttf') format('truetype'),
		url('assets/fonts/Poppins-SemiBold.woff2') format('woff2');

  font-weight: 600;

  font-display: swap;
}

:root {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 400;
  --gradient: linear-gradient(145deg, rgba(64, 64, 64, 1), rgba(20, 20, 20, 1));
  --main-dark: #141414;
  --main-light: #F1F1F1;
  --gray-light-1: #A3A3A3;
  --gray-light-2: #767676;
  --gray-dark: #202020;
  /* frontend */
  --color-react: #61DAFB;
  --color-jotai: #F0F0F0;
  --color-tailwind-css: #38BDF8;
  --color-redux-toolkit: #764ABC;
  --color-vite: #8875FE;
  --color-bun: #FBF0DF;
  /* backend */
  --color-docker: #028BB8;
  --color-express-js: #FFFFFF;
  --color-django: #105239;
  --color-laravel: #F05340;
  --color-phoenix: #FD4F00;
  --color-apache: #C5213B;
  --opacity-sm: 90%;
  --shadow-sm: 10px 15px 15px rgba(255, 255, 255, 1);
  background-color: var(--main-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.hover\:bg-\[--main-light\]:hover {
  background-color: var(--main-light);
}

.hover\:text-\[--main-dark\]:hover {
  color: var(--main-dark);
}

.hover\:text-\[--main-light\]:hover {
  color: var(--main-light);
}

.hover\:shadow-\[0_0_20px_rgba\(255\2c 255\2c 255\2c 0\.8\)\]:hover {
  --tw-shadow: 0 0 20px rgba(255,255,255,0.8);
  --tw-shadow-colored: 0 0 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:drop-shadow-\[0_0_2em_\#61dafbaa\]:hover {
  --tw-drop-shadow: drop-shadow(0 0 2em #61dafbaa);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (max-width: 1439px) {
  .desktop-lg\:h-\[372px\] {
    height: 372px;
  }

  .desktop-lg\:h-\[432px\] {
    height: 432px;
  }

  .desktop-lg\:h-\[60px\] {
    height: 60px;
  }

  .desktop-lg\:w-\[172px\] {
    width: 172px;
  }

  .desktop-lg\:w-\[248px\] {
    width: 248px;
  }

  .desktop-lg\:w-\[296px\] {
    width: 296px;
  }

  .desktop-lg\:w-\[440px\] {
    width: 440px;
  }

  .desktop-lg\:max-w-\[512px\] {
    max-width: 512px;
  }

  .desktop-lg\:gap-\[40px\] {
    gap: 40px;
  }

  .desktop-lg\:rounded-\[10px\] {
    border-radius: 10px;
  }

  .desktop-lg\:rounded-\[22px\] {
    border-radius: 22px;
  }

  .desktop-lg\:px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px;
  }

  .desktop-lg\:py-\[14px\] {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .desktop-lg\:pb-\[136px\] {
    padding-bottom: 136px;
  }

  .desktop-lg\:pb-\[14px\] {
    padding-bottom: 14px;
  }

  .desktop-lg\:pt-\[12px\] {
    padding-top: 12px;
  }

  .desktop-lg\:pt-\[22px\] {
    padding-top: 22px;
  }

  .desktop-lg\:text-\[14px\] {
    font-size: 14px;
  }

  .desktop-lg\:text-\[16px\] {
    font-size: 16px;
  }

  .desktop-lg\:text-\[18px\] {
    font-size: 18px;
  }

  .desktop-lg\:text-\[20px\] {
    font-size: 20px;
  }

  .desktop-lg\:text-\[34px\] {
    font-size: 34px;
  }

  .desktop-lg\:text-\[48px\] {
    font-size: 48px;
  }

  .desktop-lg\:leading-\[104\%\] {
    line-height: 104%;
  }

  .desktop-lg\:leading-\[124\%\] {
    line-height: 124%;
  }
}

@media (max-width: 1279px) {
  .desktop-sm\:mx-\[40px\] {
    margin-left: 40px;
    margin-right: 40px;
  }

  .desktop-sm\:mb-\[14px\] {
    margin-bottom: 14px;
  }

  .desktop-sm\:mb-\[28px\] {
    margin-bottom: 28px;
  }

  .desktop-sm\:h-\[288px\] {
    height: 288px;
  }

  .desktop-sm\:h-\[54px\] {
    height: 54px;
  }

  .desktop-sm\:w-\[200px\] {
    width: 200px;
  }

  .desktop-sm\:w-\[340px\] {
    width: 340px;
  }

  .desktop-sm\:max-w-\[416px\] {
    max-width: 416px;
  }

  .desktop-sm\:gap-\[32px\] {
    gap: 32px;
  }

  .desktop-sm\:rounded-\[18px\] {
    border-radius: 18px;
  }

  .desktop-sm\:border {
    border-width: 1px;
  }

  .desktop-sm\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .desktop-sm\:text-\[14px\] {
    font-size: 14px;
  }

  .desktop-sm\:text-\[18px\] {
    font-size: 18px;
  }

  .desktop-sm\:text-\[20px\] {
    font-size: 20px;
  }

  .desktop-sm\:text-\[40px\] {
    font-size: 40px;
  }

  .desktop-sm\:leading-\[120\%\] {
    line-height: 120%;
  }
}

@media (max-width: 1023px) {
  .tablet-lg\:mx-\[32px\] {
    margin-left: 32px;
    margin-right: 32px;
  }

  .tablet-lg\:my-\[140px\] {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .tablet-lg\:my-\[24px\] {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .tablet-lg\:my-\[60px\] {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .tablet-lg\:mb-\[26px\] {
    margin-bottom: 26px;
  }

  .tablet-lg\:ml-\[12px\] {
    margin-left: 12px;
  }

  .tablet-lg\:mt-\[12px\] {
    margin-top: 12px;
  }

  .tablet-lg\:h-\[254px\] {
    height: 254px;
  }

  .tablet-lg\:h-\[26px\] {
    height: 26px;
  }

  .tablet-lg\:h-\[292px\] {
    height: 292px;
  }

  .tablet-lg\:h-\[48px\] {
    height: 48px;
  }

  .tablet-lg\:w-\[110px\] {
    width: 110px;
  }

  .tablet-lg\:w-\[164px\] {
    width: 164px;
  }

  .tablet-lg\:w-\[200px\] {
    width: 200px;
  }

  .tablet-lg\:w-\[300px\] {
    width: 300px;
  }

  .tablet-lg\:w-\[82px\] {
    width: 82px;
  }

  .tablet-lg\:max-w-\[340px\] {
    max-width: 340px;
  }

  .tablet-lg\:gap-y-\[44px\] {
    row-gap: 44px;
  }

  .tablet-lg\:rounded-\[13px\] {
    border-radius: 13px;
  }

  .tablet-lg\:rounded-\[14px\] {
    border-radius: 14px;
  }

  .tablet-lg\:rounded-\[16px\] {
    border-radius: 16px;
  }

  .tablet-lg\:rounded-\[7px\] {
    border-radius: 7px;
  }

  .tablet-lg\:border {
    border-width: 1px;
  }

  .tablet-lg\:px-\[26px\] {
    padding-left: 26px;
    padding-right: 26px;
  }

  .tablet-lg\:px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .tablet-lg\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tablet-lg\:pb-\[12px\] {
    padding-bottom: 12px;
  }

  .tablet-lg\:pb-\[94px\] {
    padding-bottom: 94px;
  }

  .tablet-lg\:pt-\[16px\] {
    padding-top: 16px;
  }

  .tablet-lg\:pt-\[8px\] {
    padding-top: 8px;
  }

  .tablet-lg\:text-\[10px\] {
    font-size: 10px;
  }

  .tablet-lg\:text-\[12px\] {
    font-size: 12px;
  }

  .tablet-lg\:text-\[15px\] {
    font-size: 15px;
  }

  .tablet-lg\:text-\[16px\] {
    font-size: 16px;
  }

  .tablet-lg\:text-\[18px\] {
    font-size: 18px;
  }

  .tablet-lg\:text-\[28px\] {
    font-size: 28px;
  }

  .tablet-lg\:text-\[32px\] {
    font-size: 32px;
  }

  .tablet-lg\:leading-\[114\%\] {
    line-height: 114%;
  }
}

@media (max-width: 767px) {
  .tablet-sm\:my-\[120px\] {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .tablet-sm\:my-\[18px\] {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .tablet-sm\:my-\[40px\] {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tablet-sm\:mb-\[10px\] {
    margin-bottom: 10px;
  }

  .tablet-sm\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .tablet-sm\:ml-\[10px\] {
    margin-left: 10px;
  }

  .tablet-sm\:mt-\[10px\] {
    margin-top: 10px;
  }

  .tablet-sm\:h-\[190px\] {
    height: 190px;
  }

  .tablet-sm\:h-\[20px\] {
    height: 20px;
  }

  .tablet-sm\:h-\[240px\] {
    height: 240px;
  }

  .tablet-sm\:h-\[40px\] {
    height: 40px;
  }

  .tablet-sm\:w-\[124px\] {
    width: 124px;
  }

  .tablet-sm\:w-\[164px\] {
    width: 164px;
  }

  .tablet-sm\:w-\[224px\] {
    width: 224px;
  }

  .tablet-sm\:w-\[70px\] {
    width: 70px;
  }

  .tablet-sm\:w-\[90px\] {
    width: 90px;
  }

  .tablet-sm\:max-w-\[256px\] {
    max-width: 256px;
  }

  .tablet-sm\:gap-\[24px\] {
    gap: 24px;
  }

  .tablet-sm\:gap-y-\[32px\] {
    row-gap: 32px;
  }

  .tablet-sm\:rounded-\[11px\] {
    border-radius: 11px;
  }

  .tablet-sm\:rounded-\[12px\] {
    border-radius: 12px;
  }

  .tablet-sm\:rounded-\[6px\] {
    border-radius: 6px;
  }

  .tablet-sm\:px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px;
  }

  .tablet-sm\:px-\[7px\] {
    padding-left: 7px;
    padding-right: 7px;
  }

  .tablet-sm\:py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .tablet-sm\:pb-\[78px\] {
    padding-bottom: 78px;
  }

  .tablet-sm\:pb-\[7px\] {
    padding-bottom: 7px;
  }

  .tablet-sm\:pt-\[12px\] {
    padding-top: 12px;
  }

  .tablet-sm\:pt-\[7px\] {
    padding-top: 7px;
  }

  .tablet-sm\:text-\[10px\] {
    font-size: 10px;
  }

  .tablet-sm\:text-\[12px\] {
    font-size: 12px;
  }

  .tablet-sm\:text-\[14px\] {
    font-size: 14px;
  }

  .tablet-sm\:text-\[20px\] {
    font-size: 20px;
  }

  .tablet-sm\:text-\[24px\] {
    font-size: 24px;
  }

  .tablet-sm\:text-\[9px\] {
    font-size: 9px;
  }

  .tablet-sm\:leading-\[124\%\] {
    line-height: 124%;
  }
}

@media (max-width: 539px) {
  .mobile-lg\:absolute {
    position: absolute;
  }

  .mobile-lg\:right-\[24px\] {
    right: 24px;
  }

  .mobile-lg\:top-\[24px\] {
    top: 24px;
  }

  .mobile-lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-lg\:my-\[14px\] {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .mobile-lg\:my-\[60px\] {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .mobile-lg\:mb-\[10px\] {
    margin-bottom: 10px;
  }

  .mobile-lg\:mb-\[16px\] {
    margin-bottom: 16px;
  }

  .mobile-lg\:mb-\[32px\] {
    margin-bottom: 32px;
  }

  .mobile-lg\:block {
    display: block;
  }

  .mobile-lg\:flex {
    display: flex;
  }

  .mobile-lg\:hidden {
    display: none;
  }

  .mobile-lg\:h-\[164px\] {
    height: 164px;
  }

  .mobile-lg\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .mobile-lg\:h-full {
    height: 100%;
  }

  .mobile-lg\:w-full {
    width: 100%;
  }

  .mobile-lg\:max-w-\[100\%\] {
    max-width: 100%;
  }

  .mobile-lg\:max-w-\[600px\] {
    max-width: 600px;
  }

  .mobile-lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .mobile-lg\:justify-center {
    justify-content: center;
  }

  .mobile-lg\:gap-3 {
    gap: 0.75rem;
  }

  .mobile-lg\:gap-\[20px\] {
    gap: 20px;
  }

  .mobile-lg\:gap-y-\[28px\] {
    row-gap: 28px;
  }

  .mobile-lg\:rounded-\[10px\] {
    border-radius: 10px;
  }

  .mobile-lg\:rounded-\[9px\] {
    border-radius: 9px;
  }

  .mobile-lg\:p-\[10px\] {
    padding: 10px;
  }

  .mobile-lg\:pb-\[11px\] {
    padding-bottom: 11px;
  }

  .mobile-lg\:text-\[18px\] {
    font-size: 18px;
  }

  .mobile-lg\:leading-\[110\%\] {
    line-height: 110%;
  }
}

@media (max-width: 360px) {
  .mobile\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .mobile\:w-\[110px\] {
    width: 110px;
  }

  .mobile\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .mobile\:pb-\[10px\] {
    padding-bottom: 10px;
  }
}
